[submodule "libs/libbpf"]
	path = src/build/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "libs/elftoolchain"]
	path = src/build/elftoolchain
	url = https://github.com/elftoolchain/elftoolchain.git
[submodule "libs/zig-zlib"]
	path = src/build/zig-zlib
	url = https://github.com/mattnite/zig-zlib.git
